DATABASE_URL=postgresql://postgres:12345@postgresdb:5432/postgres
REDIS_URL=redis://redis:6379
NODE_ENV=development
APPLICATION_SECRET='s0/\/\P4$$w0rD'
APPLICATION_URL=http://0.0.0.0:3001
PORT=3001
DOCS_PASSWORD=
GCP_PROJECT_ID=local-project
GCP_CLIENT_EMAIL=local@local-project.iam.gserviceaccount.com
GCP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nlocal\n-----END PRIVATE KEY-----\n"
GCP_BUCKET_NAME=local-bucket
GCP_STORAGE_API_ENDPOINT=http://gcp-storage:4443
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_S3_BUCKET_NAME=local-bucket
AWS_S3_ENDPOINT=http://aws-s3:4566
CORS_ORIGINS=http://localhost:3000,http://localhost:3002
